{{ define "head.html"}}
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>Jing Ru's Website</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/grid.css">
    <link rel="stylesheet" href="/public/css/flexslider.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="/public/css/font-awesome.min.css" rel="stylesheet">

    <!-- Responsive Images -->
    <script>document.cookie='resolution='+Math.max(screen.width,screen.height)+'; path=/';</script>

    <!-- Custom Modernizer -->
    <script src="/public/js/libs/modernizr.custom.min.js"></script>
</head>
{{ end }}