{{ define "navigation.html" }}
    <header id="main-header" class="container">
        <div class="span12">

            <div id="logo">
                <a href="/views/index.html"><h1 style="color: white; margin-bottom:0px;">Jing-Ru's  Website</h1>   </a>                 
                <!-- <a href="/views/index.html">中文</a> / <a href="/views/index.html">English</a>       -->
            </div>

            <!-- <hgroup id="logo">
              <h1>Andante /</h1>
              <h2>Elegant Responsive HTML5 Template</h2>
            </hgroup> -->

            <div id="nav-toggle">
                <a href="#" data-target=".expandable-nav" class="button">menu</a>               
            </div>

            <nav id="main-nav" class="clearfix">
                <ul class="dropdown">                          
                    <li><a href="/views/index.html">Home</a></li>
                    <li class="current" ><a href="/views/portfolio.html">side project</a></li>                    
                </ul> <!-- / .dropdown -->
            </nav> <!-- / #main-nav -->
           
        </div> <!-- / span12 div -->
    </header> <!-- / Logo, Headline, Navigation -->
{{ end }}