<!doctype html>

<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

{{ template "head.html"}}
<body id="portfolio-4">

	<!-- Logo, Headline, Navigation -->
	{{ template "navigation.html"}}

	<!-- Portfolio Page -->
    <section id="content" role="main" class="container">
       <!-- Page heading and Navigation -->
  

       <h1 class="span12"> Main Portfolio </h1>
       <div class="span12 hr_pattern"></div>

       <div class="filterable2">

           <!-- Portfolio (MES+Seminar+Reanthouse) -->
           <div class="span12 portfolio">
				<div class="media">	           		
				  <div class="object">
					  <img src="/public/img/content/269/portfolio/interface.png" alt="Master Thesis">
                  </div>
				  <div class="caption"> 
					 <h3 style="font-weight:bold;">Interactive Occlusion-Free System for Volume Exploration <div class="" style="font-size:14px;  float: right; color:coral;"><I>[2022 Master Thesis and Project]</I></div> </h3>
                     <p>
						<div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># Volume-Visualization  </I></div>					
						<div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># Human-Computer Interaction (HCI) </I></div>					
						<div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># Shaderlab </I></div>		
						<div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># Unity </I></div>	
                    </p>	
                    <h3 style="font-style:oblique;">| <a href="http://doi.org/10.6345/NTNU202201788" target="_blank">Master Thesis</a> | 
                                                    <a href="https://github.com/NUZEROVI/Interactive_Occlusion_Free_Exploration_System" target="_blank">Code</a> | 
                                                    <a href="https://github.com/NUZEROVI/VolumeVis_UX_Survey/releases" target="_blank">Releases (for Mac/Win)</a> |</h3>						 
                    <p><a href="/sideproject/portfolio_details.html?projectID=9" class="button" style="background-color: #800000; float: right;">In more detail &rarr;</a></p>
				  </div>
				</div>
			</div>         

           <div class="span12 portfolio">
               <div class="media">
                   <a class="object" data-hover="icon-zoom" href="/public/img/content/744/portfolio/mes2.jpg" data-rel="gallery[portfolio]">
                    <img src="/public/img/content/269/portfolio/mes2.jpg" alt="Manufacturing Execution System"></a>
                   <div class="caption">
                       <h3 style="font-weight:bold;">Manufacturing Execution System (MES) <div class="" style="font-size:14px; float: right; color:coral;"><I>[2019 Intern Project]</I></div></h3>
                       <p>                       
                        <div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># GUI Design </I></div>					
                        <div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># Human-Computer Interaction (HCI) </I></div>		
                        <div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># SQL Server </I></div>	
                        <div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># PowerBuilder </I></div>	    
                       </p>	
                       <h3 style="font-style:oblique;">| <a href="https://www.youtube.com/watch?v=sZvFRJ57nj8" target="_blank">Introduction Video</a> |     
                        <p><a href="/sideproject/portfolio_details.html?projectID=1" class="button" style="background-color: #800000; float: right;">In more detail &rarr;</a></p>
                   </div>
               </div>
           </div>

           <div class="span12 portfolio">
                <div class="media">	           		
                <div class="object">
                    <img src="/public/img/content/269/portfolio/Seminar.jpg" alt="Master Thesis">
                </div>
                <div class="caption"> 
                    <h3 style="font-weight:bold;">ERP-SFT Learning System with IoT Factory Simulator <div class="" style="font-size:14px;  float: right; color:coral;"><I>[2018 Bachelor Project]</I></div> </h3>
                    <p>                       
                        <div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># Enterprise Resource Planning (ERP) </I></div>					
                        <div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># Shop Floor Tracking (SFT) </I></div>		
                        <div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># Laravel Framework (Website) </I></div>	
                        <div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># Crazy Talk (Animator Videos) </I></div>	
                        <div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># IoT Remote Control (iOS App) </I></div>	
                        <div class="button mini" style="border-radius: 20px; background-color: #0066ee94;"><I># Arduino + ESP8266 Wi-Fi MCU</I></div>	
                    </p>	
                    <h3 style="font-style:oblique;">| <a href="https://erp-sft-learning.herokuapp.com/articles" target="_blank">Website</a> | &rarr; (High CTR)(High Google Ranking Position : ERP SFT)    					 
                    <p><a href="/sideproject/portfolio_details.html?projectID=2" class="button" style="background-color: #800000; float: right;">In more detail &rarr;</a></p>
                </div>
                </div>
            </div>         

      
       </div>


       <h1 class="span12">Side Project (In College)</h1>
       <div class="span12 hr_pattern"></div>
  
       <ul class="span12 filter">
            <li class="active"><a href="#all">All</a> <span class="divider">/</span></li>
            <li><a href="#3Dmodel">3D Modeling Design</a> <span class="divider">/</span></li>
            <li><a href="#website">Website</a> <span class="divider">/</span></li>
            <li><a href="#arduino">Arduino + ESP8266</a> <span class="divider">/</span></li>
            <li><a href="#iOS">iOS</a> <span class="divider">/</span></li>
            <li><a href="#uiux">UI&UX</a></li>
        </ul>
        <!-- Page heading and Navigation -->

    

        <!-- </div> -->

        <div class="filterable">

            <div class="span3 3Dmodel">
                <div class="media">
                    <a class="object">
                        <img src="/public/img/content/269/portfolio/TombDesign.png" alt="Renthouse Web"></a>
                    <div class="caption">
                        <h3>Ancient Tomb (3D Design)
                        </h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=10" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>


            <div class="span3 website">
                <div class="media">
                    <a class="object">
                        <img src="/public/img/content/269/portfolio/renthouse.jpg" alt="Renthouse Web"></a>
                    <div class="caption">
                        <h3>Renthouse Web
                        </h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=3" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>

          
            <!-- Arduino+ESP8266 -->
            <div class="span3 arduino">
                <div class="media">
                    <a class="object">
                        <img src="/public/img/content/269/arduino/factory.jpg" alt="IoT Factory"></a>
                    <div class="caption">
                        <h3>IoT Factory</h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=5" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>

            <!-- iOS app -->
            <div class="span3 iOS">
                <div class="media">
                    <a class="object"><img src="/public/img/content/269/iOS/ios1.jpg" alt="IoT Remote Control (iOS Design)"></a>
                    <div class="caption">
                        <h3>IoT Remote Control <Br>
                            (iOS App)</h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=4" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>
            <div class="span3 arduino">
                <div class="media">
                    <a class="object"><img src="/public/img/content/269/arduino/CircuitLayout1.jpg" alt="ESP8266+DHT11 (Circuit Layout)"></a>
                    <div class="caption">
                        <h3>ESP8266+DHT11 (Firebase)</h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=6" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>
 

            <div class="span3 arduino">
                <div class="media">
                    <a class="object"><img src="/public/img/content/269/arduino/CircuitLayout2.jpg" alt="Arduino+Bluetooth(HC06) (Circuit Layout)"></a>
                    <div class="caption">
                        <h3>Arduino+Bluetooth(HC06)</h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=7" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>

 
            <!-- UI/UX app -->
            <div class="span3 uiux">
                <div class="media">
                    <a class="object"><img src="/public/img/content/269/uiux/pxmart/2.jpg" alt="IoT Remote Control (iOS Design)"></a>
                    <div class="caption">
                        <h3>PX-mart Management and App Design</h3>
                        <p><a href="/sideproject/portfolio_details.html?projectID=8" class="button mini">More &rarr;</a></p>
                    </div>
                </div>
            </div>


        </div> <!-- / Filterable -->

    </section>
	<!-- / Portfolio Page -->

    {{ template "footer.html"}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/public/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

<!-- <script src="js/libs/jquery.flexslider.js"></script> -->
<!-- <script src="js/libs/gridpak.js"></script> -->
<script src="/public/js/plugins.js"></script>
<script src="/public/js/script.js"></script>

</body>
</html>
