<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jing-Ru's Resume</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Resume/CV Template for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico">  
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS-->
	<script defer src="/public/assets/fontawesome/js/all.min.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/public/assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/public/assets/css/orbit-2.css">
</head> 

<body>
    <div class="wrapper mt-lg-5">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="/public/image/sun_profile.jpg" alt="" />
                <h1 class="name">Jing-Ru Sun</h1>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list" style="font-size: 14.5px;">
                    <li class="email"><i class="fa-solid fa-envelope"></i><a href="mailto: nuvmcdxliv@gmail.com"> nuvmcdxliv@gmail.com</a></li>
                    <li class="phone"><i class="fa-solid fa-phone"></i><a href="tel:0988-621-848">0988-621-848</a></li>
                    <li class="website"><i class="fa-solid fa-globe"></i><a href="https://nuzerovi.onrender.com" target="_blank"> My Website (Portfolio)</a></li>
                    <li class="github"><i class="fa-brands fa-github"></i><a href="https://github.com/NUZEROVI" target="_blank"> github.com/NUZEROVI</a></li>                   
                </ul>
            </div><!--//contact-container-->
      
            <!--//education-container-->
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>TOEIC <span class="lang-desc">(660)</span></li>                 
                </ul>
            </div><!--//interests-->
            
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-user"></i></span>Career Objective </h2>
                <div class="summary">
                    <p>For applications including VR, AR, MR, and other immersive devices in the medical area, there are several thoughts that can be shared and learned from. 
                    </p><p>From the research phase through the future work, I've always had a deep passion in medical technology. 
                        I really hope that in the future, the systems in which I am involved will be applied in the medical field and will contribute to the future of society.</p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-briefcase"></i></span>Education</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><strong>National Taiwan Normal University</strong></h3>
                            <div class="time">Sep.2020 ~ Sep.2022</div>
                        </div><!--//upper-row-->
                        <div class="company"><I><strong>M.S. in Computer Science</strong></I></div>
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><strong>National Chin-Yi University of Technology</strong></h3>
                            <div class="time">Sep.2015 ~ Jun.2019</div>
                        </div><!--//upper-row-->
                        <div class="company"><I><strong>B.S. in Information Management</strong></I></div>
                    </div><!--//meta-->
                </div><!--//item-->
                
                
                
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa-solid fa-briefcase"></i></span>Work Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">SHE HONG INDUSTRIAL CO. LTD</h3>
                            <div class="time">Jul.2018 - Jul.2019</div>
                        </div><!--//upper-row-->
                        <div class="company"><I><strong>Senior Internships</strong></I></div>
                    </div><!--//meta-->
                    <div class="details">
                        <li><u>Manufacturing Execution System (MES)</u> interface design and development.</li>  
                        <li><u>One-Click dispatching</u> to the machine function development, effectively improving the MES system dispatching speed.</li>  
                        <li>Assist newcomer to use PowerBuilder and Database.</li>
                        <li>Assist system <u>develop and launch</u>, maintain the system and communicate and coordinate with the factory manager.</li>
                        <li>Participate and exhibit the work order dispatch function of MES system at 2019 TIMTOS.</li>  
                    </br>
                        <div style="text-align: center;">                            
                            <img src="/public/img/content/269/portfolio/m2.jpg" alt="" />                   
                            <img src="/public/img/content/269/portfolio/mes2.jpg" alt="" />     
                        </div>
                    </div><!--//details-->
                 
                </div><!--//item-->
              
                
            </section><!--//section-->
            
          
            
          
            <!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
 
</body>
</html> 

